*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:monospace;
}

body{

background:black;

color:#00ff9f;

height:5000px;

overflow-x:hidden;

}

.scene{

position:fixed;

width:100%;

height:100vh;

perspective:800px;

overflow:hidden;

}

.cave{

position:absolute;

width:100%;

height:100%;

transform-style:preserve-3d;

}

.layer{

position:absolute;

width:100%;

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

/* Cave Depth */

.hero{
transform:translateZ(-200px);
}

.about{
transform:translateZ(-600px);
}

.skills{
transform:translateZ(-1000px);
}

.projects{
transform:translateZ(-1400px);
}

.contact{
transform:translateZ(-1800px);
}

/* Cave Lighting */

body::after{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

background:radial-gradient(circle at center,
transparent 150px,
rgba(0,0,0,0.95) 500px);

}

/* Text Styling */

h1{
font-size:60px;
margin-bottom:20px;
}

h2{
font-size:40px;
margin-bottom:20px;
}

p{
max-width:600px;
line-height:1.6;
}

ul{
list-style:none;
}

li{
margin:10px 0;
font-size:20px;
}