body{
margin:0;
background:#000;
color:#fff;
font-family:sans-serif;
overflow-x:hidden;
}

canvas{
position:fixed;
inset:0;
}

#cave{z-index:0;}
#fire{z-index:2;}
#dark{z-index:3;}

#explorer{
position:fixed;
bottom:80px;
left:50%;
transform:translateX(-50%);
z-index:5;
animation:walk 0.5s infinite alternate;
}

svg{
width:60px;
fill:#222;
stroke:#222;
filter:drop-shadow(0 0 10px orange);
}

@keyframes walk{
from{transform:translateY(0)}
to{transform:translateY(-6px)}
}

section{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
opacity:0;
transition:1s;
}

.show{opacity:1;}